@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0e5c4;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}
.imageslider {
  width: 100%;
  height: 500px;
  /* border: 1px solid red; */
  background-image: url(images/Stage_decore\ 1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: imageslider 30s linear infinite;
}
/* in here i used animation for the Euro section */
@keyframes imageslider {
  0% {
    background-image: url(images/Stage_decore\ 2.jpg);
  }
  20% {
    background-image: url(images/Stage_decore\ 3.jpg);
  }
  40% {
    background-image: url(images/Stage_decore\ 4.jpg);
  }
  60% {
    background-image: url(images/Stage_decore\ 5.jpg);
  }
  80% {
    background-image: url(images/candy-7.jpg);
  }
  10% {
    background-image: url(images/Stage_decore\ 6.jpg);
  }
}

/* ===@media=== */

/* screen szie for navbar */

@media only screen and (min-width: 700px) and (max-width: 1100px) {
  .search {
    position: absolute;
    top: 55px;
    left: 10px;
  }
  .shopping {
    position: absolute;
    z-index: 1;
    padding-left: 300px;
  }
  .shopping {
    position: fixed;
  }
  .shopping i {
    color: rgb(10, 10, 30);
  }
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  div.navbar {
    height: auto;
    background-color: rgb(56, 34, 4);
  }
  .navbar ul {
  }

  .navbar ul li a {
    color: #d5cbcb;
    margin: 0;
    padding: 10px;
    display: block;
    justify-content: space-between;
  }
  .navbar ul li {
    border: ;
  }
  .fa-magnifying-glass {
    color: white;
    position: absolute;
    padding: 0px 50px;
    margin-left: 100px;
  }
  .shopping i {
    padding-top: 50px;
    color: red;
  }
  .fa-cart-shopping {
    font-size: 20px;
    position: relative;
    top: -15px;
    left: 40px;
  }

  .fa-heart {
    font-size: 20px;
    top: 60px;
  }
  .fa-magnifying-glass {
    display: none;
  }
  .placeholder {
    color: white;
  }
}

/* ======= banner-card ======== */

.banner-card {
  position: relative;
  top: -5px;
}

.banner-text {
  color: black;
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: ;
}

.banner-text p:hover {
  color: red;
  font-size: 24px;
}

/* ====end of Banner==== */

/* ===start of Navbar=== */

.navbar {
  width: 100%;
  height: 70px;
  background-color: #bba14e;

  /* to fixed the navbar */
  position: fixed;
  top: 0;
  z-index: 1;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: block;
  float: left;
}

li {
  float: left;
  border-right: 1px solid #bbb; /* we select the border for the right side of each li tag*/
}

li:last-child {
  /* the last child selected to be no border in the right side */
  border-right: none;
}

a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 24px 56px;
  text-decoration: none;
  font-size: 24p;
  /* The CSS transition property is used to smoothly animate changes to CSS properties
   over a specified duration. In your example, transition: all 0.5;,  or milliseconds (ms). */
  transition: all 0.5s;
}

.search {
  float: right;
}
/* here is the Search box  */
.search input {
  width: 300px;
  height: 30px;
  margin: 20px 20px 0px 0px;
  border-radius: 15px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  padding-left: 20px;
  columns: #fff;
  font-size: 18px;
  color: red;
}

.navbar ul li:hover {
  background-color: #5ac2dd;
  transition: all 0.5s;
}

/* market icons */
.shopping {
  padding-top: 50px;
  display: flex;
  justify-content: end;
}

.shopping a {
  padding-right: 50px;
  font-size: 30px;
}
.fa-heart {
  position: absolute;
  right: 70px;
}
/* end of navbar */

/* ===hamburger=== */
.hamburger {
  display: none;
}

/* ======== start of cards========== */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 325px;

  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 8px 0px 31px 7px rgba(0, 0, 0, 0.75);
  margin: 20px;
}
.card-content {
  padding-left: 5px;
}

.card img {
  width: 100%;
  height: 300px;
}
.card:hover {
  color: red;
  transform: translatey(-10px);
  box-shadow: 8px 0px 31px 7px rgba(204, 63, 63, 0.75);
  transition: all 0.5s;
}

/*  card buttons in here */

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eab676;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card-content a {
  padding-top: 10px 20px;
  margin: 10px;
}

/* card buttons hover */

.card-container a:hover {
  color: black;
  background-color: #5ac2dd;
}

/* ====footer==== */

footer {
  background-color: #111;
  margin-top: 100px;
}

.footerconatiner {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialicons {
  display: flex;
  justify-content: center;
}

.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialicons a i {
  font-size: 30px;
  color: black;
  opacity: 0.9;
}
.socialicons a:hover {
  background-color: #730d0d;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  opacity: 0.7;
  transition: 0.5s;
}
.footerBottom {
  color: white;
  background-color: #532719;
  padding: 20px;
  text-align: center;
}
