@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(161, 143, 114);
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}
.imageslider {
  width: 100%;
  height: 500px;
  /* border: 1px solid red; */
  background-image: url(images/ceremony.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: imageslider 10s linear infinite;
}
/* in here i used animation for the Euro section */
@keyframes imageslider {
  0% {
    background-image: url(images/ceremony.jpg);
  }
  25% {
    background-image: url(images/Sweet\ 1.jpg);
  }
  50% {
    background-image: url(images/Sweet\ 2.jpg);
  }
  75% {
    background-image: url(images/Sweet3.jpeg);
  }
  100% {
    background-image: url(images/Sweet4.jpg);
  }
}

/* ======= banner-card ======== */

.banner-card {
  position: relative;
  top: -5px;
}

.banner-text {
  color: white;
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: 1;
}

.banner-text p:hover {
  color: red;
  font-size: 24px;
}

/* ====end of Banner==== */

/* ===start of Navbar=== */
.container {
  position: relative;
  top: -5px;
}
.container a {
  color: white;
  text-decoration: none;
  padding: 25px;
  display: block;
  text-align: center;
}

.container li {
  float: left;
  margin-right: -20px;
}
.container ul {
  list-style-type: none;
  background-color: rgba(77, 74, 18, 0.576);
  padding: 10px;
  margin: 0px;
  overflow: hidden;
}

.fa-heart,
.fa-cart-arrow-down {
  float: right;
  padding: 25px 10px;
  font-size: 25px;
  margin: 0px 10px;
  position: relative;
  right: 100px;
  color: #fff;
  cursor: pointer;
}

.fa-cart-arrow-down:hover {
  color: red;
}
.fa-heart:hover {
  color: red;
}

.search {
  display: block;
  text-align: center;
  padding-bottom: 15px;
}

.search input {
  width: 600px;
  height: 30px;
  margin: 20px 20px 0px 0px;
  border-radius: 15px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  padding-left: 20px;
  columns: #fff;
  font-size: 18px;
  color: black;
  position: relative;
}
button {
  border: 1px solid black;
  border-radius: 15px;
  height: 30px;
  width: 80px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.btn-login {
  display: block;
  text-align: right;
  position: absolute;
  right: 400px;
  bottom: 15px;
}

.home a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f007";

  color: #fff;
  margin: 5px 10px 0px 0px;
}

.product a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f29b";

  color: #fff;
  margin: 5px 10px 0px 0px;
}
.gallery a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f007";

  color: #fff;
  margin: 5px 10px 0px 0px;
}
.contact a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f25b";

  color: #fff;
  margin: 5px 10px 0px 0px;
}

.about a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2bb";

  color: #fff;
  margin: 5px 10px 0px 0px;
}

.container a:hover {
  background-color: #a5aa0594;
  /* font-size: 20px; */
  color: blue;
  border-radius: 15px;
  transition: all 0.9s;
}
/* ======== start of cards========== */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 325px;

  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 8px 0px 31px 7px rgba(0, 0, 0, 0.75);
  margin: 20px;
}
.card-content {
  padding-left: 5px;
}

.card img {
  width: 100%;
  height: 300px;
}
.card:hover {
  color: red;
  transform: translatey(-10px);
  box-shadow: 8px 0px 31px 7px rgba(204, 63, 63, 0.75);
  transition: all 0.5s;
}

/* ====footer==== */

footer {
  background-color: #111;
  margin-top: 100px;
}

.footerconatiner {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialicons {
  display: flex;
  justify-content: center;
}

.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialicons a i {
  font-size: 30px;
  color: black;
  opacity: 0.9;
}
.socialicons a:hover {
  background-color: #3c3636;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  opacity: 0.7;
  transition: 0.5s;
}
.footerBottom {
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
}

/* === Target the responsive screens=== */
@media (max-width: 375px) {
  .footerconatiner {
    width: 100%;
  }

  .info {
    display: block;
    padding-top: 20px;
  }

  .one {
    display: block;
    padding: 100px 70px;
  }
}
/* ===================================== */
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
